.item {
    width:400px;
}

input {
    font-family:georgia,times;
    font-size:24px;
    font-weight:normal;
    line-height:1.2em;
    color:black;
}

a {
    color:blue;
    font-family:georgia,times;
    font-size:20px;
    font-weight:normal;
    line-height:1.2em;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

h1 {
    color:#000000;
    font-size:41px;
    letter-spacing:-2px;
    line-height:1em;
    font-family:helvetica,arial,sans-serif;
    border-bottom:1px dotted #cccccc;
}

h2 {
    color:#000000;
    font-size:34px;
    letter-spacing:-2px;
    line-height:1em;
    font-family:helvetica,arial,sans-serif;
}