
.quarter-block {

	position: relative;			/* 相对布局*/
    overflow: hidden;			/* 内部元素溢出时，将其隐藏*/
    display: block;				/* 块级显示*/
    float: center;		/* 左浮动*/
    width: 40px;
    height: 40px;
    margin: auto;
    padding: 0;					/* 不设置内边距*/
    cursor: pointer;			/* 默认鼠标移动上去时显示手形图标 */
    background-color: #EEEEEE;	/* 默认背景颜色是灰色 */
    box-shadow: inset 0px 0px 1px #FFFFCC;		/* 设置少许的阴影 */
}

/*除手机外*/
@media (min-width: 768px) {
	.quarter-block {
		width: 80px;
	    /*height: 40px;*/
	}
}

.selected {
	background-color: #BBFFFF;
}


/*文本垂直居中*/
.table tbody tr td {
    vertical-align: middle;
}
