
    <script src="/static/js/wall.js"></script>

    <!-- start: wall panel -->
    <div class="container body-container">

        <!-- start: 心情墙面板 -->
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger">心情墙</div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea name="content" id="mood" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input class="btn btn-default" type="button" value="添加心情" onclick="javascript:sendMood();">

                    <!-- </input> -->
                </div>

             <!--    <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-condensed" id="wallList_table">
                            <thead>
                                <tr>
                                    <td>id</td>
                                    <td>user_id</td>
                                    <td>content</td>
                                    <td>create_time</td>
                                    <td>update_time</td>
                                    <td>delete</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div> -->

                <div class="testDiv">
                    <div class="container">

                    </div>
                </div>

            </div>
        </div>
        <!-- end:   心情墙面板 -->

       <!-- start: 提示信息 -->
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info" id="debug-info"></div>
            </div>
        </div>
        <!-- end:   提示信息 -->

    </div>
    <!-- end:   wall panel -->
