    <!-- start: signup panel -->
    <div class="container body-container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="panel-heading">
                    <h1>注册</h1>
                </div>
                <div class="panel-body">
                    <form action="/account/signuping" method="post" class="form" role="form">
                        <div class="form-group input-group">
                            <span  class="input-group-addon">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱:</span>
                            <input name="email" type="text" class="form-control" placeholder="请输入学校邮箱，不可更改"/>
                        </div>
                        <div class="form-group input-group">
                            <span  class="input-group-addon">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:</span>
                            <input name="password" type="password" class="form-control" placeholder="请输入密码" /><br/>
                        </div>
                        <div class="form-group input-group">
                            <span  class="input-group-addon">确认密码:</span>
                            <input name="confirmPassword" type="password" class="form-control" placeholder="请再次输入密码" /><br/>
                        </div>
                        <div class="form-group input-group">
                            <span  class="input-group-addon">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</span>
                            <input name="userName" type="text" class="form-control" placeholder="请输入姓名，不可更改"/>
                        </div>
                        <div class="form-group">
                            <center><button id="signupBtn" class="btn btn-success" type="submit">注 册</button></center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end:   signup panel -->