
	<!-- start: 调试信息 -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="alert alert-info  alert-dismissable" id="debug-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
			</div>
		</div>
	</div>

	<!-- end:   调试信息 -->

	<!-- start: footer -->
	<footer class="navbar navbar-static-bottom footer-container">
		<div >
			<p>
				<span class="glyphicon glyphicon-envelope"></span>
				E-mail : WebTree@126.com
			</p>
		</div>
		<div>
			<p>
				<span class="glyphicon glyphicon-copyright-mark"></span>
				2018 歪脖树
			</p>
		</div>
		<div>
			<p>
				<span class="glyphicon glyphicon-ok-circle"></span> 鲁ICP备17050727号
			</p>
		</div>
	</footer>
	<!-- end:	footer -->

</body>
</html>
